.intro-app {
  margin-top: 61px;
  display: block;
  width: 75%;
  min-width: 75%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-img-container {
  height: 170px;
  background-size: cover;
  background-position: center;    
  display: flex;
  flex-wrap: wrap;
}

.intro-icon-container {
  flex-basis: 0;
  flex: 1;
  max-width: 100%;
  padding: 12px;
  margin-right: 60px;
}

.intro-back-btn {
  color: #0070eb;
  background: white;
  height: 36px;
  width: 36px;
  border: 0;
  padding: 4px 3px 0 0;
  border-radius: 50%;
  font-size: 1.5em;
  margin-left: 60px;
}

.intro-save-btn {
  color: rgba(0, 0, 0, 0.35);
  background: white;
  height: 36px;
  width: 36px;
  border: 0;
  padding: 4px 0 0 0;
  border-radius: 50%;
  font-size: 1.2em;
  float: right;
  margin-left: 15px;
}

.intro-share-btn {
  color: #0070eb;
  background: white;
  height: 36px;
  width: 36px;
  border: 0;
  padding: 4px 3px 0 0;
  border-radius: 50%;
  font-size: 1.5em;
  float: right;
  margin-left: 15px;
}

.intro-back-btn:hover {
  color: #0058b8;
  cursor: pointer;
}

.intro-save-btn:hover {
  cursor: pointer;
}

.intro-share-btn:hover {
  color: #0058b8;
  cursor: pointer;
}

.intro-summary {
  padding: 12px;
  background-color: white;
}

.intro-summary h1 {
  margin: 0 0 10px 60px;
  font-size: 1.7em;
}

.intro-summary p {
  margin: 0 0 0 60px;
  font-size: 0.9em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
}

.intro-logo-container {    
  margin-top: -46px;
  margin-right: 60px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.05);
  width: 80px;
  height: 80px;
  position: relative;
  float: right;
}

.intro-logo-container img {
  width: 80px;
  border-radius: 3px;
}

.intro-add {
  margin-right: 16px;
}

.intro-stars {
  width: 120px;
  margin: 10px 5px 0 0;
  cursor: pointer;
}

.intro-num-ratings {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.55);
  margin-right: 5px;
  cursor: pointer;
}

.intro-rating-breakdown {
  font-size: 0.8em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
}

.intro-percent {
  font-size: 1.2em;
  margin-left: 15px;
}

/* tooltip css */
.intro-tooltip {
  display:inline-block;
  position:relative;
  text-align:center;
  margin-left: 60px;
}

.intro-tooltip .intro-tooltip-bottom {
  min-width: 300px; 
  top: 40px;
  left: 110px;
  transform: translate(-40%, 0);
  color: rgba(0, 0, 0, 0.87);
  background-color:#FFFFFF;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  visibility: hidden; 
  opacity: 0; 
  transition: 0.25s ease-out;
}

.intro-tooltip:hover .intro-tooltip-bottom {
  visibility: visible; 
  opacity: 1;
}

.intro-tooltip .intro-tooltip-bottom i {
  position: absolute;
  bottom: 100%;
  left: 40%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.intro-tooltip .intro-tooltip-bottom i::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%,50%) rotate(45deg);
  background-color: #FFFFFF;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.intro-tooltip-container {
  padding: 20px 10px 10px 10px;
}

.intro-tooltip-header {
  font-size: 1.1em;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 5px;
}

.intro-tooltip-percent {
  font-size: 1.2em;
}

.intro-tooltip-label {
  color: rgba(0, 0, 0, 0.55);
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.6em;
  display: inline-block;
  margin-top: 5px;
}

.intro-tooltip-breakdown {
  margin-top: 15px;
  width: 32%;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  box-sizing: border-box;
}

.intro-tooltip-breakdown-mid {
  margin-top: 15px;
  width: 34%;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.intro-tooltip-review-container {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-tooltip-avatar {
  border-radius: 50%;
  color: #fff;
  background: #40c2de;
  width: 40px;
  height: 40px;
  border-color: #fff;
  line-height: 40px;
  font-weight: 700;
  margin: 5px 10px 0 15px;
}

.intro-tooltip-review {
  flex: 1 0 0%;
  text-align: left;
  margin-right: 5px;
}

.intro-tooltip-review span:first-of-type {
  display: inline-block;
  margin-bottom: 3px;
}

.intro-tooltip-review span {
  line-height: 1.5em;
  font-weight: 300;
}

.intro-tooltip-all-reviews {
  color: #0070eb;
  padding: 16px;
  font-weight: 300;
  cursor: pointer;
}