.nav-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  transform: translateZ(0);
  box-shadow: 
    0px 0px 0px 1px rgba(67, 41, 163, 0.1),
    0px 1px 8px 0px rgba(67, 41, 163, 0.1);
  transition: all .2s ease;
}

.nav-brand {
  width: 150px;
  margin: 0;
}

.nav-navbar img {
  width: 100px;
  margin: 20px auto;
  display: block;
}

.nav-navbar img:hover {
  cursor: pointer;
}

.nav-down-arrow {
  color: #0070eb;
  margin-left: 3px;
  margin-top: 5px;
  font-size: 1.1em;
  
}

.nav-down-arrow:hover {
  cursor: pointer;
}

.nav-search {
  width: 70%;
  height: 60px;
  background-color: white;
}

.nav-search-address-container {
  margin: 8px;
  min-width: 150px;
  height: 43px;
  float: left;
  background-color: white;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.nav-search-address {
  padding: 14px;
  height: 13px;
  margin: 2px 0;
  text-align: center;
  border-radius: 3px;
}

.nav-search-address:hover {
  background-color: #f6f6f6;
}

.nav-loc-icon {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  float: left;
  text-align: left;
}

.nav-loc-icon:hover {
  cursor: pointer;
}

.nav-search-address-text {
  letter-spacing: 0.03em;
}

.nav-search-address-text:hover {
  cursor: pointer;
}

.nav-search-input-container {
  margin: 12px;
  width: 370px;
  height: 36px;
  border-radius: 4px;
  float: left;
  background-color: white;
}

.nav-search-input-container input {
  border: 1px solid #cacaca;
  border-radius: 4px;
  background-color: #f6f6f6;
  padding: 0 36px;
  height: 34px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-search-flex {
  position: relative;
  width: 100%;
  display: flex;
}

.nav-search-icon {
  width: 44px;
  height: 36px;
  position: absolute;
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.2s ease;
}

.nav-close-icon {
  width: 44px;
  height: 36px;
  position: absolute;
  right: 0;
  text-align: right;
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.2s ease;
}

.nav-close-icon svg:hover {
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  flex: 1 1 auto;
}

.nav-sign-in {
  margin-left: auto;
  width: 88px;
  margin-right: 0;
}

.nav-sign-in-btn {
  color: #0070eb;
  border: 2px solid #0070eb;
  border-radius: 4px;
  margin-top: 14px;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.595;
  padding: 6px 16px 5px;
}

.nav-sign-in-btn:hover {
  cursor: pointer;
  border-color: #0058b8;
  color: #0058b8;
}

.nav-bag {
  width: 53px;
  margin-right: 10px;
  padding-top: 18px;
  text-align: center;
}

.nav-bag-icon {
  font-size: 22px;
  width: 22px;
  color: rgba(0, 0, 0, 0.7);
}

.nav-bag-icon:hover {
  cursor: pointer;
  color: black;
}

.nav-app {
  overflow: hidden;
  height: 100%
}

.sign-in-modal-container {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 175ms flyUp ease forwards;
}

.signin-modal-close {
  font-size: 1.8em;
  color: #0070eb;
}

.signin-modal-close:hover {
  cursor: pointer;
  color: #0058b8;
}

.sign-in-modal {
  background-color: white;
  border-radius: 4px;
  width: 45%;
  min-width: 476px; 
  height: 85vh;
  margin-bottom: 10px;
  padding: 2%;
  box-sizing: border-box;
}

.signin-form {
  width: 100%;
  margin: 0 auto;
}

.signin-form-input {
  transition: border-color .1s ease;
  font-size: 14px;
  line-height: 1.4;
  display: block;
  width: 100%;
  border: 2px solid rgba(0,0,0,.2);
  border-radius: 4px;
  color: rgba(0,0,0,.87);
  background: #fff;
  padding: 10px 16px;
  margin: 2px 0 12px 0;
  box-sizing: border-box;
}

.signin-form label {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9em;
}

.signin-checkbox-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.signin-form-check {
  cursor: pointer;
  transition: border-color .1s ease, background .1s ease;
  border-radius: 4px;  
  margin-right: 5px;
  background: #fff;
  border: 2px solid #cacaca;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.signin-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.signin-checkbox-container:hover input ~ .signin-form-check {  
  border: 2px solid #b1b1b1;
}

.signin-checkbox-container input:checked ~ .signin-form-check {
  background-color: #0070eb;
  border: 2px solid #0070eb;
}

.signin-form-check:after {
  content: "";
  position: absolute;
  display: none;
}

.signin-checkbox-container input:checked ~ .signin-form-check:after {
  display: block;
}

.signin-checkbox-container .signin-form-check:after {
  left: 8px;
  top: 5px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.forgot-pass {
  color: #0070eb;
  font-size: 0.9em;
  float: right;
}

.forgot-pass:hover {
  color: #0058b8;
  cursor: pointer;
}

#modal-root input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

#app-root input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}